.keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 720px;
    margin: 20px auto 0;
    background: #fff;
    border:solid 1px #ddd;
    border-radius: 5px;
    padding:20px;
}

.keyboard .key {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    background: #eee;
    text-transform: uppercase;
    color:#333;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 2px;
    transition: all 0.2 linear;
    user-select: none;
}

.keyboard .key:hover {
    opacity: 0.5;
}

.keyboard .right-key:hover, .wrong-key:hover, .disabled-key:hover { opacity: 1 !important; cursor: not-allowed; }

.keyboard .right-key { background:#b4d7ac; color:#58834f; }
.keyboard .wrong-key { background:#d7b3ac; color:#7b564f; }

.keyboard .disabled-key { background:#efefef; color:#d8d3d3; }