.reload-button {
    display: block;
    padding: 10px;
    border-radius: 2px;
    margin: 15px auto 0;
    border:solid 1px #aaa;
    background: #fff;
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s linear;
}

.reload-button:hover {
    background: #aaa;
    color: #fff;
}

.game-status {
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 20px;
    border-radius: 5px;
}

.win { border: solid 1px #b4d7ac; color: #b4d7ac; }
.lose { border: solid 1px #d7b3ac; color: #d7b3ac; }